* {
  margin: 0px;
  padding: 0px;
}

#demo {
  margin-left: 590px;
  margin-top: 310px;
  height: 23.5vw;
  font-weight: 900px;
  font-size: 70px;
}

body {
  background-image: linear-gradient(150deg, #dc60ed, #e93470, orange);
  width: 550px;
  height: 403px;
}

/* #00203FFF
   #ADEFD1FF */
